import (parallel)
import (secr)
importFrom ("MASS", "ginv")
importFrom ("rgeos", "gDistance")
importFrom ("sp", "Line")
importFrom ("sp", "Lines")
importFrom ("sp", "SpatialLines")
importFrom ("sp", "SpatialLinesDataFrame")
importFrom ("sp", "SpatialPoints")
importFrom ("mvtnorm", "pmvnorm")
importFrom ("grDevices", "chull", "grey")
importFrom ("graphics", "abline", "axis", "box", "lines", "mtext",
            "plot", "points", "polygon", "segments")
importFrom ("stats", "binomial", "glm", "na.omit", "optim", "predict",
            "quantile", "rbinom", "rpois", "runif")
importFrom ("utils", "packageDescription")
## importFrom(secrlinear, make.sldf)

export(runsim)
export(Px)
export(rCH)
export(HRcentres)
export(sim.HRCH)
export(build.irregular)
export(plotmaskedge)
export(templatefn)
export(hugginsN)
export(addDistanceToEdge)
export(plotsim)
export(placeanimals)
export(TelemDhat)
export(predictPG)
export(estimatePG)
